.profile-card {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
}


.top-half {
    border: 2px solid black;
    height: 50%;
}
.cover-image {
    height: 100%;
    width: 100%;
}

.bottom-half {

}


.user-name-handle {

}

.user-name {

}

.handle {

}

.profile-card-stats {

}

.stat-list {

}

.list-items {

}